name: Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:

    runs-on: ubuntu-latest

    steps:
      - name: Check out repo
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Create local.properties (required for build)
        run: touch local.properties

      - name: Run ktfmtFormat
        run: ./gradlew ktfmtCheck

      - name: Gradle Build
        run: ./gradlew build

      - name: Gradle Test
        run: ./gradlew test
